.divers-list-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.divers-list-title {
  text-align: center;
  margin-bottom: 1rem !important;
  color: #1a56db;
}

.divers-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.specialties-container {
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
} 